/*
FONTS
  font-family: 'Roboto', sans-serif; 0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900
  font-family: myriad-pro, sans-serif; 0,400;0,700;1,400;1,700
*/

/*-VARIABLES-*/
:root {
  /*--COLORS--*/
  --off-white: #f7f2ee;
  --salmon: #d77155; /* second option: #da6d4b */
  --yellow: #f2cc8f; /* second option: #b18500 */
  --green: #357b70;
  --dark-blue: #3d405b;

  /*--FONT STYLING--*/
  --weight-light: 300;
  --weight-reg: 400;
  --weight-semibold: 600;
  --weight-bold: 700;
}

::placeholder{
  opacity: 50%;
}

* {
  box-sizing: border-box;
}

body {
  /*body style setup*/
  font-family: 'Roboto', sans-serif;
  font-weight: var(--weight-light);
  color: var(--dark-blue);
  background-color: var(--off-white);
  /*color to review layout with contrast--/
  background-color: lightgrey; */

  /*setup code for footer at bottom*/
  min-height: 100vh; /*makes body take up the full screen*/
  display: flex;
  flex-direction: column;
}


/*-----general styling-----*/
h1, h2 {
  font-family: myriad-pro, sans-serif;
}

h1 {
  font-weight: var(--weight-bold);
  font-size: 70px;
  margin: 30px auto;
  line-height: 0.8;
}

h2 {
  font-weight: var(--weight-reg);
  font-size: 25px;
  margin: 0px;
}

label {
  font-weight: var(--weight-semibold);
  line-height: 3;
}

.centered-text{
  text-align: center;
}


/*-----link styling-----*/
a {
  font-weight: var(--weight-bold);
  color: var(--green);
  text-decoration: none;
}

a:visited {
  color:  var(--dark-blue);
}

a:hover,
a:focus {
  color: var(--green);
  text-decoration: underline;
}

a:active {
  color: var(--yellow);
  text-decoration: none;
}

/*-----button styling-----*/
.button,
input[type=submit] {
  border: none;
  background-color: var(--green);
  color: var(--off-white);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.06);
  margin-top: 15px;
  font-size: 13px;
  font-weight: var(--weight-light);
  transition: 0.5s opacity;
}

.button:visited {
    color: var(--off-white);
}

.button:hover,
.button:focus,
input[type=submit]:hover {
  cursor: pointer;
  opacity: 0.8;
  font-weight: var(--weight-bold);
  font-style: italic;
  color: var(--off-white);
  text-decoration: none;
}

/*-----header layout-----*/
.page-header {
  display: flex; /*flexbox container*/
  width: 100%; /*cover the full width of the page*/
  padding: 20px; /*add 20px padding on all sides*/
}

.page-header__item { /*logo and ul*/
  flex: 0 1 200px; /*flex-grow (0 means not allowed to grow), flex-shrink (1 means it can shrink), flex-basis*/
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

#header-logo {
  height: 53px;
  width: auto;
}

/*-----header navigation list layout & styling-----*/
.main-navigation{
  margin-right: 30px;
}
.navigaton-list {
 list-style-type: none;
 margin-right: 40px;
 margin-top: 0;
}

.navigation-list li {
  display: inline-block;
  margin-left: 60px;
}

.navigation-list__item--active, .navigation-list__item--active:hover, .navigation-list__item--active:visited {
 background: var(--dark-blue);
 color: var(--off-white);
 text-decoration: none;
}


/*-----footer layout-----*/
.all-but-footer {
  flex-grow: 1; /*code for footer at bottom*/
}

.page-footer {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.page-footer a{
  text-decoration: none;
}

/*-----home page layout-----*/
.content-profile {
  max-width: 666px;
  margin: 160px auto;
}

.content-profile__picture {
  float: left;
  width: 227px;
  margin-right: 40px;
  border-radius: 50%;
}

.intro-text{
  margin-bottom: 30px;
}

/*-----home page styling-----*/
#home-intro__name {
  font-weight: var(--weight-bold);
  color: var(--salmon);
}

/*-----about page layout-----*/

/* start flexbox fallback */
.content-about {
  display:block;
  text-align: center;
  max-width: 800px;
  margin: auto;
 }

 .about-button {
    margin: 30px auto 100px auto;
  }
 /* end flexbox fallback */

 @supports (display: flex) {
  .content-about {
    max-width: 800px;
    margin: 0 auto;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
  }
  
  .content-about p{
    max-width: 420px;
    margin: 10px auto;
  
  }
  
  .about-button {
    margin: 30px auto;
  }
 }

/* start CSS SVG animation */
@keyframes sun-color-change {
  0% {
    fill: #fdef98;
  }
  50% {
    fill: #FFD577;
  }
}
.sun {
  animation: 10s sun-color-change infinite alternate linear;
}

@keyframes cloud1-move {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(200px, 30px);
  }
}

.cloud1 {
  animation: 60s cloud1-move infinite alternate linear;
}

@keyframes cloud2-move {
  from {
    transform: translate(-50px, 0);
  }
  to {
    transform: translate(300px, 0);
  }
}

.cloud2 {
  animation: 40s cloud2-move infinite alternate linear;
}

@keyframes cloud3-move {
  from {
    transform: translate( 0, 0);
  }
  to {
    transform: translate(80px, 20px);
  }
}

.cloud3 {
  animation: 15s cloud3-move infinite alternate linear;
}

@keyframes flag-wiggle {
   0% { transform: translate( 0, 0); }
   25% { transform: translate( 0, -5px); }
   50% { transform: translate( 0, 0); }
   75% { transform: translate( 0, -8px); }
  100% { transform: translate( 0, 0); }
}

.ukrainianflag:hover,
.mexicanflag:hover{
  animation: 2s flag-wiggle 1 alternate ease-in-out;
}
/* end CSS SVG animation */

/*-----projects page layout-----*/

.content-projects {
  max-width: 1000px;
  margin: 50px auto;
  padding: 0px 40px;
}

/* start grid fallback */
.project-grid__item {
 display: inline-block;
 width: 50%;
}
/* end grid fallback */

@supports (display: grid) {
  .project-grid {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 600px;
    grid-gap: 20px;
  }

  .project-grid__item{
    width: 100%;
  }

  .project-grid__item:first-child {
    grid-column: 1/1;
    grid-row: 1/4;
  }
}

  .project-grid__item {
    padding: 20px;
    background-color: var(--dark-blue);
    color: var(--off-white);
  }

  .project-grid__item:hover {
    background-color: var(--salmon);
  }

/*-----contact page layout-----*/

.content-contact {
  max-width: 800px;
  margin: 50px auto 0 auto;
  padding: 0px 40px;
}

#contact-form {
  width: 60%;
  margin:auto;
}

.contact-form__input{
  border: #f7f2ee;
  border-radius: 10px;
  outline-color: var(--dark-blue);
  width: 100%;
  margin: 5px;
  padding: 10px;
  color: var(--green);
  font-weight: var(--regular);
}

input[type=submit] {
  background-color: var(--salmon);
  padding: 5px;
  width: 30%;
  font-weight: var(--weight-semibold);
  font-size: 15px;
  margin-top: 5px;
}

.contact-info {
  line-height: 1.4;
  text-align: center;
  margin: 40px auto 30px auto;
  padding: 10px 0 10px 0;
  background-color: rgba(255, 255, 255, 0.626);
  border-radius: 10px;
  width: 60%;
}

/*-----media queries-----*/
@media all and (max-width: 625px){
  
  /*---general---*/
    
  h1 {
    font-size: 60px;
  }

  /*---index page---*/

  .content-profile {
    max-width: 90%;
    margin: 35px auto 20px;
    text-align: center;
  }
  
  .content-profile__picture {
    float: none; 
    width: 220px;
    margin: 0;
  }

  .intro-title {
    margin: 20px auto;
  }
  
  .intro-text{
    margin: 20px auto 30px auto;
  }
  
  /*---project page---*/

  .project-grid {
    max-width: 450px;
    grid-template-columns: 1fr;
    min-height: 600px;
    grid-gap: 10px;
  }

  /*---contact page---*/
  
  #contact-form {
    width: 95%;
  }

  .contact-info {
    width: 95%;
  }
}
